.THIS .slds-modal__container {
    width: 100%;
}

.THIS .customIcon div{
    vertical-align: top !important;
}
 
.THIS .customIcon div{
    vertical-align: top !important;
}

.THIS table td {
    border: 1px solid white;
    text-align: center;
}

.THIS table th {
    border: 1px solid white;
    text-align: center;
}