.THIS {
}
.THIS.warning_text {
    background-color: red;
    color: white;
}
.THIS.valid_text {
    background-color: green;
    color: white;
}
.THIS.normal_text {
    background-color: orange;
    border:1px solid grey;
    width:50%;
    border-radius:25px;
    color: black;
}
.THIS.help_text {
    padding-bottom:2px;
}